.typing-window {
  width: 650px;
  background: white;
  padding: 30px;
  border: 1px solid transparent;
  border-radius: 10px;

  .letter {
    color: #4a4a4a;
    font-size: 30px;
    width: 21px;
    height: 45px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 2px 9px 0;
    border: 1px solid transparent;
    border-radius: 7px;

    &.active {
      background-color: transparent;
      color: #3295db;
    }

    &.success {
      background: #edf7e7;
      color: #95c590;
      transition: color .12s ease-in-out;
    }

    &.failure {
      background-color: #ffdcd9;
      color: #d55b60;
    }

    &.underline {
      text-decoration: underline;
    }
  }
}